.navbarDiv {
	height: 17.5vw;
	padding-bottom: 2.5rem;
}

.slash {
	color: #a0a0a0;
	/* font-size: 2.25rem; */
	font-size: var(--font-size-tertiary);
}

.currentPage {
	/* font-size: 2.7rem; */
	font-size: var(--font-size-tertiary);
	line-height: 1;
	color: #a0a0a0;
	/* Bright things in dark environments usually cast that light, giving off a glow */
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

nav {
	align-items: center;
	display: flex;
	width: 100%;
	text-align: left;
	margin-bottom: 0rem;
	position: sticky;
	top: 12.5vh;
}
